{% extends 'base.html' %}
{% block title %}Home - Handgrip System{% endblock %}

{% block content %}
{% include "header.html" %}
  <div class="the_main_block col-lg-6 col-xxl-4 my-5 mx-auto p-3 text-bg-dark">
    <div class="d-grid gap-2">
      <button type="button" onclick="location.href='{{ url_for('program', mode='power') }}'" class="the_main_button btn btn-warning p-3">Strength + Power</button>
      <button type="button" onclick="location.href='{{ url_for('program', mode='endurance') }}'" class="the_main_button btn btn-outline-warning p-3">Endurance + Isometric</button>
    </div>
  </div>
{% endblock %}
