{% extends 'base.html' %}
{% block title %}Plan- Handgrip System{% endblock %}

{% block content %}
{% include "header.html" %}
  <div class="the_main_block col-lg-6 col-xxl-4 my-5 mx-auto p-3 text-bg-dark">
    <div class="d-grid gap-2">
      {% if message is not none %}
        <div align="center">Time = {{ ((message|int)/60)|round(0) }} minutes</div>
      {% endif %}
      {% for a, b, c in list %}
        <button type="button" onclick="location.href='{{ url_for('workout', reps=a, time=b, rest=c, mode=mode) }}'"
                class="the_main_button btn btn-warning p-2">{{ a }} reps
        </button>
      {% endfor %}
    </div>
  </div>
{% endblock %}

<script>
  function redirectToWorkout(timeList) {
    location.href = '/workout?time_list=' + encodeURIComponent(timeList);
  }
</script>